* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    padding: 30px 0;
    background-color: white;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.house {
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
    color: #545454;
    letter-spacing: 0.06em;
}

.logo p {
    font: 400 13px Arial;
    color: #292929;
    padding-top: 10px;
    letter-spacing: 0.10em;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 35px;
}

nav li:first-child {
    margin-left: 0;
}

nav a {
    font: 400 15px Arial, sans-serif;
    text-decoration: none;
    color: #545454;
    display: block;
    padding-bottom: 4px;
}

.active {
    color: #292929;
    border-bottom: #F1CDB3 solid 3px;
}

.active:hover {
    border: none;
    color: #545454;
}

.menu {
    display: none;
}

main {
    background-color: #f6f6f6;
    padding: 80px 0 100px;
}

h1 {
    text-align: center;
    font-size: 35px;
    color: #545454;
    letter-spacing: 0.06em;
    font-weight: 400;
    margin-bottom: 60px;
}

.pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pet-card {
    background: #FAFAFA;
    flex-basis: 270px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.pet-card:hover {
    background-color: #FFFFFF;
}

.pet-card p {
    margin: 30px 0px;
    color: #545454;
    letter-spacing: 0.06em;
    font-size: 20px;
}

.learn-more {
    display: inline-block;
    padding: 15px 45px;
    border: 2px #F1CDB3 solid;
    border-radius: 100px;
    color: #292929;
    text-decoration: none;
    letter-spacing: 0.06em;
    font-size: 17px;
}

.learn-more:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.pets-nav {
    width: 340px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.pets-nav-button {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.pets-nav .disabled-left {
    border: #CDCDCD 1px solid;
    color: #CDCDCD;
    background: #f6f6f6;
}

.pets-nav .disabled-left:hover {
    background-color: #FDDCC4;
    border: none;
    color: #292929;
}

.pets-nav .disabled {
    border: #CDCDCD 1px solid;
    color: #CDCDCD;
    background: #f6f6f6;
}

.pets-nav .disabled:hover {
    background-color: #FDDCC4;
    border: none;
    color: #292929;
}

.pets-nav .active-page {
    border: #F1CDB3 1px solid;
    background: #F1CDB3;
    color: #292929;
}

.pets-nav .active-page:hover {
    background: #FDDCC4;
}

.pets-nav .active-nav {
    border: #F1CDB3 1px solid;
    color: #F1CDB3;
    background: #f6f6f6;
}

.pets-nav .active-nav:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.pets-nav .active-nav-right {
    border: #F1CDB3 1px solid;
    color: #F1CDB3;
    background: #f6f6f6;
}

.pets-nav .active-nav-right:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

footer {
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    padding-top: 40px;
}

footer .flex-wrapper>div {
    width: 300px;
}

footer .flex-wrapper {
    align-items: flex-start;
}

footer h2 {
    font-size: 35px;
    color: #FFF;
    letter-spacing: 0.06em;
    font-weight: 400;
    padding-top: 16px;
    margin-bottom: 33px;
}

footer p {
    min-height: 46px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    color: #F1CDB3;
    margin-bottom: 27px;
}

footer a {
    color: #F1CDB3;
}

footer .email {
    background: url(./images/email.svg) no-repeat left center;
}

footer .tel {
    background: url(./images/tel.svg) no-repeat left center;
}

footer .local {
    background: url(./images/marker.svg) no-repeat left center;
    padding-left: 42px;
}

@media(max-width:1270px) {
    .container {
        max-width: 95%;
    }
    .pet-card {
        margin-right: 40px;
        margin-left: 40px;
    }
    .scarlett {
        display: none;
    }
    .freddie {
        display: none;
    }
}

@media(max-width:930px) {
    footer .flex-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media(max-width:767px) {
    .menu {
        display: block;
    }
    nav {
        display: none;
    }
}

@media(max-width:667px) {
    .jennifer {
        display: none;
    }
    .sopfia {
        display: none;
    }
    .charly {
        display: none;
    }
}

@media(max-width:355px) {
    .container h1 {
        font-size: 25px;
    }
    .pets-nav {
        width: 300px;
    }
}