    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    img {
        display: block;
        max-width: 100%;
    }
    
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #FFF;
    }
    
    .container {
        max-width: 1200px;
        margin: auto;
    }
    
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 60px 0;
        z-index: 999;
    }
    
    .flex-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .house {
        font-size: 32px;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }
    
    .logo p {
        font: 400 13px Arial;
        padding-top: 10px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    
    nav ul {
        display: flex;
        list-style: none;
    }
    
    nav li {
        margin-left: 35px;
    }
    
    nav a {
        font: 400 15px Arial, sans-serif;
        text-decoration: none;
        display: block;
        padding-bottom: 4px;
        color: #FAFAFA;
    }
    
    .active {
        border-bottom: #F1CDB3 solid 3px;
    }
    
    .active:hover {
        border-bottom: none;
        color: #FAFAFA;
    }
    
    .menu {
        display: none;
    }
    
    .first {
        background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
        padding-top: 180px;
        background-size: cover;
    }
    
    .one {
        display: flex;
    }
    
    .people h1 {
        width: 310px;
        font-weight: 400;
        font-size: 44px;
        color: #FFFFFF;
        max-width: 325px;
    }
    
    .people p {
        font-family: Arial;
        font-weight: 400;
        font-size: 15px;
        color: #CDCDCD;
        width: 460px;
        padding-top: 42px;
        padding-bottom: 56px;
        margin-right: 42px;
    }
    
    .make-friend {
        display: inline-block;
        background: #F1CDB3;
        border-radius: 100px;
        text-decoration: none;
        padding: 15px 45px;
        font-size: 17px;
        letter-spacing: 0.06em;
        color: #292929;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .make-friend:hover {
        background: #FDDCC4;
        border-radius: 100px;
        text-decoration: none;
        padding: 15px 45px;
        font-size: 17px;
        letter-spacing: 0.06em;
        color: #292929;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .two {
        padding-top: 80px;
        padding-bottom: 100px;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .about img {
        max-width: 426px;
        height: 408px;
        margin-right: 126px;
    }
    
    .about-shelter h1 {
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 0.06em;
        color: #545454;
        width: 370px;
    }
    
    .about-shelter p {
        font-family: Arial;
        font-weight: 400;
        font-size: 15px;
        color: #4C4C4C;
        width: 430px;
        padding-top: 25px;
    }
    
    .three {
        background: #F6F6F6;
        padding-top: 80px;
        padding-bottom: 100px;
        text-align: center;
    }
    
    .friend {
        margin-bottom: 80px;
        text-align: center;
        font-size: 35px;
        color: #545454;
        letter-spacing: 0.06em;
        font-weight: 400;
    }
    
    .pets {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .pet-card {
        flex-basis: 270px;
        margin-bottom: 30px;
        text-align: center;
        padding-bottom: 30px;
        background: #FAFAFA;
        border-radius: 9px;
    }
    
    .pet-card a {
        text-decoration: none;
    }
    
    .pet-card:hover {
        background: #FFFFFF;
    }
    
    .pet-card p {
        margin: 30px 0px;
        color: #545454;
        letter-spacing: 0.06em;
        font-size: 20px;
    }
    
    .jennifer,
    .woody {
        margin-left: 90px;
    }
    
    .learn-more {
        display: inline-block;
        padding: 15px 45px;
        border: 2px #F1CDB3 solid;
        border-radius: 100px;
        color: #292929;
        text-decoration: none;
        letter-spacing: 0.06em;
        font-size: 17px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .learn-more:hover {
        background: #FDDCC4;
    }
    
    .our {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .pets-nav-button {
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        border: #F1CDB3 1px solid;
        margin-top: 217px;
        background-color: #F6F6F6;
    }
    
    .pets-nav-button:hover {
        background: #FDDCC4;
    }
    
    .rest {
        display: inline-block;
        background: #F1CDB3;
        border-radius: 100px;
        text-decoration: none;
        padding: 15px 45px;
        font-weight: 400;
        font-size: 17px;
        letter-spacing: 0.06em;
        color: #292929;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .rest:hover {
        background: #FDDCC4;
    }
    
    .pic {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    
    .group {
        text-align: center;
        left: 446px;
        padding-bottom: 5px;
        margin-bottom: 0;
    }
    
    .four {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .help {
        margin-top: 55px;
        margin-left: 60px;
        margin-right: 60px;
        text-align: center;
    }
    
    .animal {
        display: inline-block;
        margin-bottom: 30px;
    }
    
    .helpme {
        display: block;
        text-align: center;
        color: #545454;
        text-decoration: none;
        letter-spacing: 0.06em;
        font-size: 20px;
    }
    
    .five {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
        margin-bottom: 100px;
    }
    
    .don img {
        width: 505px;
        height: 261px;
    }
    
    .about-don {
        margin-left: 30px;
    }
    
    .about-don h1 {
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 0.06em;
        color: #545454;
        width: 300px;
    }
    
    .about-don h2 {
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.06em;
        color: #545454;
        padding-top: 20px;
    }
    
    .card {
        margin-top: 20px;
    }
    
    .about-don p {
        font-family: Arial;
        font-weight: 400;
        font-size: 12px;
        color: #B2B2B2;
        padding-top: 20px;
        width: 380px;
    }
    
    footer {
        background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
        padding-top: 40px;
    }
    
    footer .flex-wrapper>div {
        width: 300px;
    }
    
    footer .flex-wrapper {
        align-items: flex-start;
    }
    
    footer h2 {
        font-size: 35px;
        color: #FFF;
        letter-spacing: 0.06em;
        font-weight: 400;
        padding-top: 16px;
        margin-bottom: 33px;
    }
    
    footer p {
        min-height: 46px;
        padding-left: 60px;
        display: flex;
        align-items: center;
        color: #F1CDB3;
        margin-bottom: 27px;
    }
    
    footer a {
        color: #F1CDB3;
    }
    
    footer .email {
        background: url(./images/email.svg) no-repeat left center;
    }
    
    footer .tel {
        background: url(./images/tel.svg) no-repeat left center;
    }
    
    footer .local {
        background: url(./images/marker.svg) no-repeat left center;
        padding-left: 42px;
    }
    
    @media(max-width:1200px) {
        .container {
            max-width: 95%;
        }
    }
    
    @media(max-width:1024px) {
        .woody {
            display: none;
        }
    }
    
    @media(max-width:990px) {
        .one .puppy {
            display: none;
        }
        .make-friend {
            margin-bottom: 50px;
        }
    }
    
    @media(max-width:900px) {
        .about-shelter {
            margin-top: 20px;
        }
        .about-don {
            margin-top: 20px;
        }
        .five {
            margin-top: 0;
        }
    }
    
    @media(max-width:880px) {
        .flex-wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    
    @media(max-width:750px) {
        nav {
            display: none;
        }
        .menu {
            display: inline-block;
            width: 30px;
        }
        .jennifer {
            display: none;
        }
    }
    
    @media(max-width:600px) {
        .about {
            display: none;
        }
        .don {
            display: none;
        }
    }
    
    @media(max-width:550px) {
        .people h1 {
            font-size: 37px;
            width: 250px;
        }
        .people p {
            width: 240px;
        }
        .about-shelter h1 {
            width: 250px;
        }
        .about-shelter p {
            width: 300px;
        }
        .friend {
            font-size: 25px;
        }
        .pic {
            padding-bottom: 50px;
        }
        .about-don {
            width: 95%;
        }
        .about-don h1 {
            font-size: 24px;
        }
        .about-don p {
            width: 250px;
        }
    }
    
    @media(max-width:400px) {
        .pets {
            width: 100%;
        }
    }
    
    @media(max-width:320px) {
        .about-don .card {
            max-width: 85%;
        }
        .pets {
            width: 65%;
            margin-left: 10px;
            margin-right: 10px;
        }
        .learn-more {
            padding: 10px 35px;
        }
    }